# IDE - IntelliJ IDEA
.idea/

# Frontend - React Vite
frontend/.env
frontend/node_modules/

# Backend - Django
backend/migrations/
backend/.env
backend/__pycache__/

# Environment variables files
.env