# Ignoree .idea files
./.idea

# Ignore environment variables
frontend/.env
backend/.env

#  Ignore python cache files
backend/backend/__pycache__
backend/task_manager/__pycache__

# Ignore node_modules directory
frontend/node_modules