* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #181a1e;
    overflow-x: hidden;
    overflow-y: auto;
}

button,
input,
select,
textarea {
    background: none;
    border: none;
    outline: none;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg fill="white" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.5rem;
}

input[type="date"] {
    color-scheme: #e0e0e0;
    padding-right: 0.5rem;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 0.5rem;
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: white;
    color: black;
}

.user-loading-state,
.task-loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.user-loading-spinner,
.task-loading-spinner {
    color: #e0e0e0;
    font-size: 3rem;
    animation: spin 1s linear infinite;
}

.loading-icon {
    margin-top: 5px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toast-custom-style {
    background: linear-gradient(135deg,
            rgba(214, 121, 44, 0.251) 0%,
            rgba(204, 82, 35, 0) 59.86%),
        #202528;
    color: #e0e0e0;
}

.global-loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    font-size: 2rem;
    color: #05aecb;
}

.global-loading-state h1 span {
    margin-left: 10px;
}

.shimmer {
    background: #202528;
    padding: 1rem;
  }
  .shimmer-block {
    background: linear-gradient(
      90deg,
      #2c2f33 25%,
      #3a3e42 50%,
      #2c2f33 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    height: 2.2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  